---
Checks: >-
  clang-diagnostic-*,
  clang-analyzer-*,
  bugprone-*,
  portability-*,
  readability-*,
  performance-*,
  -modernize-*,
  -readability-magic-numbers,
  -readability-identifier-length

HeaderFilterRegex: '^((?!third_party).)*$'
