# Build directories
build/
dist/
*.o
*.a
*.so
*.dylib
/[Bb]uild/
/[Bb]uilds/
/Library/


# CMake
CMakeFiles/
CMakeCache.txt

# Compile commands
compile_commands.json

# IDE
.clangd/
.cache/

# OS
.DS_Store
Thumbs.db

# Ninja
.ninja_*

# nix
.direnv/
.nixgl.env

# Exclude private console SDK integrations
*ConsoleSDK*
*SonyPS5*
*NintendoSwitch*
*XboxGDK*
/platforms/
